@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container_NotFound {
  display: block;
  justify-content: center;
  text-align: center;
}

.h1_NotFound {
  font-size: 40vh;
}

.p_NotFound {
  font-size: 10vh;
}

.h1_NotFound:hover,
.p_NotFound:hover {
  color: #f0f0f0;
  transform: 1s;
}
